@model ResultContactDTO
<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1 class="fw-bold text-primary mb-4"><span class="text-secondary">Organic</span>Atelier</h1>
                <p>İnsana, Hayvana ve Doğaya Faydalı</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href="@Model.Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href="@Model.Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href="@Model.Instagram"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href="@Model.LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Adres</h4>
                <p><i class="fa fa-map-marker-alt me-3"></i>Şişli/İstanbul</p>
                <p><i class="fa fa-phone-alt me-3"></i>444 22 33</p>
                <p><i class="fa fa-envelope me-3"></i>info@organicatelier.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hızlı Gezinme</h4>
                <a class="btn btn-link" href="/Home/About">Hakkımızda</a>
                <a class="btn btn-link" href="/Home/Contact">Bize Ulaşın</a>
                <a class="btn btn-link" href="/Home/Blog">Bilgi Deposu</a>
                <a class="btn btn-link" href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=6698&MevzuatTur=1&MevzuatTertip=5">Kişisel Verilerin Korunması</a>
                <a class="btn btn-link" href="/Home/Contact">Destek</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Bülten</h4>
                <p>Organik dünyadan anında haberdar olun!</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Mail Adresiniz">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Kaydol</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Organic Atelier</a>, Her hakkı saklıdır.
                </div>
                <div class="col-md-6 text-center text-md-end">
                     Designed By <a href="https://ugursevilgen.com">Uğur Sevilgen</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
