@model List<ResultBlogDTO>

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 blog-post">
                    <img class="img-fluid" src="~/img/@item.ImageUrl" alt="">
                    <div class="bg-light">
                        <a class="d-block h5 lh-base mb-4" href="/Home/Blog">@item.Title</a>
                        <div>
                            <p>@item.Text</p>
                        </div>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>@item.Writer</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>@item.Date.ToString("dd/MM/yyyy")</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
