@model List<ResultBlogDTO>
<!-- Blog Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Organic Atelier Blog</h1>
            <p>Organik tarıma dair merak ettiğiniz her şey burada.</p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid" src="~/img/@item.ImageUrl" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="/Home/Blog">@item.Title</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>@item.Writer</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>@item.Date.ToString("dd/MM/yyyy")</small>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- Blog End -->
