    <!-- Page Header Start -->
<div class="container-fluid page-header mb-1 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Üye Ol</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">  <a class="text-body"> Zaten üye misin?  </a> <a href="/Account/Login">Giriş Yap!</a> </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->