@model List<ResultClientDTO>
<!-- Testimonial Start -->
<div class="container-fluid bg-light bg-icon py-6 mb-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Değerlendirmeler</h1>
            <p>Daha iyi hizmet verebilmemiz için bizi değerlendirin.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model)
            {
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">@item.Comment</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="~/img/@item.ImageUrl" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">@item.Name</h5>
                            <span>@item.Title</span>
                        </div>
                    </div>
                </div>
            }      

            
        </div>
    </div>
</div>
<!-- Testimonial End -->