@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@await Component.InvokeAsync("_AccountRegisterHeaderViewComponentPartial")
<div class="container-xxl">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-6 offset-3">
                <div class="col-6 offset-4">
                    <img src="~/img/OrganicAtelierLogo(250x250).jpeg" class="brand-image img-circle elevation-3" style="max-width: 250px; max-height: 250px;">
                </div>
                <form action="/Account/Register" method="post">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="RePassword" class="form-label"></label>
                        <input asp-for="RePassword" class="form-control" />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Kayıt Ol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

