<!-- TradingView Widget BEGIN -->
<div class="col-4">
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
              {
              "symbol": "BIST:XGIDA",
              "width": "auto",
              "height": "396",
              "locale": "tr",
              "dateRange": "12M",
              "colorTheme": "light",
              "isTransparent": false,
              "autosize": false,
              "largeChartUrl": ""
            }
        </script>
    </div>
</div>
<!-- TradingView Widget END -->